<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <description>Jetty transparent proxy</description>
        <servlet-name>TransparentProxy</servlet-name>
        <servlet-class>chiralsoftware.proxyapp.ExtendedTransparentProxyServlet</servlet-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>proxyTo</param-name>
            <param-value>http://ignored</param-value>
        </init-param>

        <init-param>
            <description>Allows proxying HTTP/2 to HTTP 1/1</description>
            <param-name>rewriteMultipleHeaders</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>targetHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>targetPort</param-name>
            <param-value>8888</param-value>
        </init-param>
        <init-param>
            <param-name>targetScheme</param-name>
            <param-value>http</param-value>
        </init-param>
<!--        <init-param>-->
<!--        <description>this is removed</description>-->
<!--        <param-name>prefix</param-name>-->
<!--        <param-value></param-value>-->
<!--        </init-param>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>TransparentProxy</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>